<fieldset class="ui-corner-all ui-widget-content psc-cms-ui-group">
  <legend data-bind="text: label"></legend>
  <div style="min-height: 350px" class="content">
    <table class="psc-cms-ui-table psc-cms-ui-grid ui-widget ui-widget-content psc-cms-ui-grid-table">
      <thead>
        <tr class="first ui-widget-header">
          <th class="first sound-number">Nummer</th>
          <th class="sound-content">Inhalt</th>
          <th class="sound-speaker">Sprecher</th>
          <th class="sound-speaker">Type</th>
          <th class="sound-status">Status</th>
          <th class="sound-details last">Beschreibung</th>
        </tr>
      </thead>
      <tbody data-bind="foreach: importInfos">
        <tr>
          <td class="first" data-bind="text: sound.number"></td>
          <td data-bind="text: sound.formatContent()"></td>
          <td data-bind="text: sound.formatSpeakers()"></td>
          <td data-bind="text: sound.type"></td>
          <td data-bind="text: formatStatus()"></td>
          <td class="last" data-bind="text: formatDetails()"></td>
        </tr>
      </tbody>
    </table>  

    <div class="psc-cms-ui-buttonset"></div>

    <button class="psc-cms-ui-button grid-upload-data" data-bind="jQueryUIWidget: true, click: openUpload" data-widget="button" data-widget-options='{"icons": {"primary": "ui-icon-arrowthickstop-1-n"}}'>Daten ersetzen</button>
    <button class="psc-cms-ui-button" data-bind="jQueryUIWidget: true, click: flush" data-widget="button" data-widget-options='{"icons": {"primary": "ui-icon-disk"}}'>Sounds einfügen und Speichern</button>
  </div>
</fieldset>