#content div.psc-cms-ui-tabs ul.ui-tabs-nav li .ui-icon { float: left; margin: 0.6em 0.2em 0 0; cursor: pointer; }
#content div.psc-cms-ui-tabs ul.ui-tabs-nav li a { } /* padding rechts für den tab wegen dem close-icon verkleinern */
#content div.psc-cms-ui-tabs li a span.unsaved {font-weight: bold; }
#content div.psc-cms-ui-tabs li a span.load { padding-left: 0.8em; }
#content div.psc-cms-ui-tabs div.ui-tabs-panel { min-height: 540px; padding: 1em 0.8em }
.webforge-jqx-tabs div.content-container { padding: 0.8em 0.8em }
#content div.psc-cms-ui-tabs { top: 7px; /* damit das fieldset in #right mit der linie von den tabs auf einer höhe ist */ margin-bottom: 18px; }

#content div.psc-cms-ui-form-panel .psc-cms-ui-splitpane div.right .right-accordion {
  margin-top: 7px; /* damit das accordion in div.right mit der linie von dem form fieldset uf einer höhe ist */
}

#content div.psc-cms-ui-buttonset button.psc-cms-ui-button,
#content div.psc-cms-ui-buttonset button.psc-cms-ui-button {
  margin-right: .4em;
  cursor: pointer;
}

/* damit beim initialisieren die buttons genauso viel platz einnehmen, wie sie
 * nach dem initialisieren haben
 * z. B. für buttons in accordions
 */
button.psc-cms-ui-button {
  min-height: 29px;
}

#content div.psc-cms-ui-buttonset {
  margin-bottom: 10px;
}

#header div.spinner-container { padding-top: 4px; margin-left: 15px; width: 32px; float: left;  }

#drop-contents { min-width: 225px; }
#drop-contents ul.psc-cms-ui-drop-contents-list li { padding-bottom: 4px; }
#drop-contents ul.psc-cms-ui-drop-contents-list li a { text-decoration: none; }
#drop-contents ul.psc-cms-ui-drop-contents-list a.open-all { display: inline; text-decoration: none; }
#drop-contents ul.psc-cms-ui-drop-contents-list li a:hover { text-decoration: underline; }

/* right icon für accordion extension */
.ui-accordion-icons .ui-accordion-header a { padding-right: 2.2em; }
.ui-accordion .ui-state-default .psc-cms-ui-icon-secondary { display:none; }
.ui-accordion .ui-state-active .psc-cms-ui-icon-secondary { display: block; }
.ui-accordion .ui-accordion-header .psc-cms-ui-icon-secondary { position: absolute; left: auto; right: 0.5em; top: 50%; margin-top: -8px; }

/* text in accordion */
.ui-accordion .ui-accordion-content p { margin-bottom: 0.6em;}
.ui-accordion .ui-accordion-content ul { margin-bottom: 0.6em;}
.ui-accordion .ui-accordion-content ul li { padding-left: 0.6em;}

.psc-cms-ui-tabs .psc-cms-ui-right-accordion { margin-top: 0.4em; }
.ui-effects-transfer { border: 2px dotted gray; }

#content .ui-autocomplete-input {
  background-image: none; /* damit der highlight effect geht */
}

/* ComboBox */
input.psc-cms-ui-combo-box { margin: 0; padding: 0.48em 0 0.47em 0.45em; width: 85%; }

/* ComboBox + DropBox */
.psc-cms-ui-combo-drop-box-wrapper div.psc-cms-ui-drop-box { margin-top: 0.5em; padding: 0.5em; }

/* Container */
div.psc-cms-ui-container {
  padding: 1em 2.2em;
  min-height: 400px;
}

/* GRID */
table.psc-cms-ui-grid { }
table.psc-cms-ui-grid { margin: 20px 0; }
table.psc-cms-ui-grid { margin: 1em 0; border-collapse: collapse; }
table.psc-cms-ui-grid td, table.psc-cms-ui-grid th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
table.psc-cms-ui-grid td.align-right { text-align: right; }
table.psc-cms-ui-grid td.align-center { text-align: center; }

/* Entity-Grid */
fieldset.psc-cms-ui-entity-grid-panel-container small.with-selected { display: inline-block; margin-right: 12px; }

/* Error Pane */
div.psc-cms-ui-error-pane fieldset.psc-cms-ui-group {
  border: 2px solid #ff0000;
}

div.psc-cms-ui-error-pane fieldset.psc-cms-ui-group div.content {
  height: 450px;
  overflow: auto;
}


.italic {
  font-style: italic;
}

#content div.content-text p {
  margin-bottom: 1.25em;
  line-height: 1.25em;
}

#content div.content-text ul {
  padding-left: 2em;
  margin-bottom: 1.25em;
}

#content div.content-text ul li ul {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}

#content div.content-text ul li {
  list-style-position: outside;
  list-style-type: disc;
  padding-bottom: 0.3em;
}

/* navigation */
fieldset.psc-cms-ui-navigation ul li {
  position: relative;
  height: 20px;
  width: auto;
  margin: 0 3px 3px;
  padding: 0.4em 0.4em 0.4em 1.5em;
}
fieldset.psc-cms-ui-navigation  li .button-panel { position: absolute; top: 0px; right: 0px; }

/* resizable image und handles von ui */
.psc-cms-ui-resizable-image .ui-resizable-handle {
  height: 16px;
  width: 16px;
  color: #ffffff;
}

.ui-resizable-nw {
  top: 0px; left: 0px;
}
.ui-resizable-ne {
  top: 0px; right: 0px;
}
.ui-resizable-sw {
  bottom: 0px; left: 0px;
}
.ui-resizable-se {
  bottom: 0px; right: 0px;
}

/* dialog */
.ui-dialog .dialog-content {
  height: 100%;
}

/* contextmenu */
.psc-cms-ui-context-menu {
  z-index: 9999;
}

/* layout manager */
.lm-downloadslist li {
  margin-bottom: 10px;
}