<div class="row-fluid">
  <div class="span2">{{headline.label}}</div>
  <div class="span10">{{&headline.input}}</div>
</div>
<div class="row-fluid">
    <div class="span2">{{text.label}}</div>
    <div class="span3">{{&image.input}}</div>
    <div class="span7">{{&text.input}}</div>
  </div>
</div>
<div class="row-fluid">
  <div class="span2">{{link.label}}</div>
  <div class="span10">{{&link.input}}</div>
</div>