<div class="psc-cms-ui-splitpane psc-cms-ui-layout-manager">
  <div class="left" style="float: left; width: 70%; height: 100%; margin-right: 1%">
    <fieldset class="ui-corner-all ui-widget-content psc-cms-ui-group">
      <div style="min-height: 600px" class="content"><div>
    </fieldset>
  </div>

  <div style="width: 29%; float: left; height: 100%" class="right">
    <div class="should-scroll" style="margin-top: -7px">
      <div class="psc-cms-ui-accordion psc-cms-ui-right-accordion right-accordion widget-not-initialized" data-widget="accordion" data-widget-options='{"collapsible": true, "autoHeight": true}'>
      {{#sections}}
        <h3 class="{{name}}"><a href="#">{{label}}</a></h3>
        <div class="{{name}}"></div>
      {{/sections}}
      </div>

      <fieldset class="psc-cms-ui-group ui-corner-all ui-widget-content magic-helper">
        <legend>Magic Box</legend>

        <div class="content">
          <textarea style="height: 200px; width: 100%" name="disabled[magic]" class="textarea ui-widget-content ui-corner-all magic-box"></textarea>
          <button data-widget-options="{}" data-widget="button" class="psc-cms-ui-button widget-not-initialized">umwandeln und hinzufügen</button>
          <small class="hint">in die Magic Box kann ein gesamter Text
          eingefügt werden. Der Text wird dann analysiert und automatisch in
          Abschnitte und Elemente unterteilt. Die neuen Elemente werden immer ans
          Ende des Layouts angehängt.</small>
        </div>
      </fieldset>
    </div>
  </div>

  <div style="clear: left"></div>
</div>