<div class="widget ui-widget ui-widget-content ui-helper-clearfix ui-corner-all" style="margin-bottom: 5px;">
  <h3 class="widget-header ui-helper-reset ui-state-default ui-corner-all" style="padding: 0.5em 0.5em 0.5em 0.7em;">
    <span class="ui-icon ui-icon-close" data-bind="click: close" style="float: right; cursor: pointer;"></span>Absatz
  </h3>
  
  <div class="widget-content" style="padding: 1.1em;">
  </div>
</div>